* {
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px;
}

.bookmark-header {
  border-bottom: 1px solid grey;
  text-align: right;
}

.bookmark-header > h2 {
  font-size: 16pt;
  position: absolute;
  /* left: 1px; */
}